body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Aldrich", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background: rgb(41, 32, 51);
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 80px
}

/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
    header {
        padding-top: 32px;
    }
}

@media only screen and (min-width: 992px) {
    .w3-half {
        width: 50%
    }
}

@media only screen and (max-width: 992px) {
    .w3-half {
        width: 100%
    }
}

.bgimg {
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-image: url("../img/galaxy_bg.jpg");
    min-height: 90%;
}

.bodycol {
    background-color: #3c3d3e;
    color: white;
}

.icon-link {
    text-decoration: none;
}